<div class="wrapper">

	<div class="loginCard">
		<div class="content">
			<h1 style="text-align: center;font-weight: 700;">welcome back</h1>

			<ion-list style="width: 100%;background: none;" lines="none">
				<ion-item color="transparent">
					<ion-label position="stacked">Username</ion-label>
					<ion-input [(ngModel)]="username" placeholder="Enter your username"></ion-input>
				</ion-item>
				<ion-item color="transparent">
					<ion-label position="stacked">Password</ion-label>
					<ion-input [(ngModel)]="password" type="password" placeholder="Enter your password"></ion-input> 
				</ion-item>
			</ion-list>

			<ion-button style="width: 100%;" (click)="login()">Login</ion-button>
		
		</div>
	</div>


</div>