<ion-content>

	<div class="headBar">

		<div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backHome()">
			<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
			<span class="brand">back to home</span>
		</div>

	</div>


	<div class="wrapper">
		<h1 style="text-align: center;">Vehicle Sticker Application</h1>
	</div>

	<div style="width: 100%;padding: 1rem;">
		<div style="display: flex;justify-content: space-between;align-items: center; padding: 1rem;background: #f2f2f2;border-radius: 1rem;width: 100%;">

			<div class="gridButton">
				<div class="content">
					<ion-icon name="add"></ion-icon>
					<span>Registration</span>
				</div>
			</div>

			<div class="gridButton">
				<div class="content">
					<ion-icon name="paper"></ion-icon>
					<span>Traffic Ticket</span>
				</div>
			</div>

		</div>
	</div>

  <div class="wrapper">
		<h1 style="text-align: center;">Traffic Ticket Management</h1>
	</div>

	<div style="width: 100%;padding: 1rem;">
		<div style="display: flex;justify-content: space-between;align-items: center; padding: 1rem;background: #f2f2f2;border-radius: 1rem;width: 100%;">

			<div class="gridButton">
				<div class="content">
					<ion-icon name="paper"></ion-icon>
					<span>View Traffic Ticket</span>
				</div>
			</div>

		</div>
	</div>

</ion-content>

