<ion-content>

	<div class="headBar">

		<div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backHome()">
			<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
			<span class="brand">back to home</span>
		</div>

	</div>


	<div class="wrapper">
		<h1 style="text-align: center;">Attendance</h1>
	</div>

	<div style="width: 100%;padding: 1rem;">
		<div style="display: flex;justify-content: space-between;align-items: center; padding: 1rem;background: #f2f2f2;border-radius: 1rem;width: 100%;">

			<div class="gridButton">
				<div class="content">
					<ion-icon name="qr-code"></ion-icon>
					<span>Scan</span>
				</div>
			</div>

			<div class="gridButton">
				<div class="content">
					<ion-icon name="image"></ion-icon>
					<span>Read</span>
				</div>
			</div>

			<div class="gridButton">
				<div class="content">
					<ion-icon name="link"></ion-icon>
					<span>Link</span>
				</div>
			</div>

		</div>
	</div>

	<div style="padding: 0 1rem;">
		<h3>Signed Attendance</h3>
	</div>

	<ion-list>
		<ion-item>
			<ion-label>
				<h1>ESDM</h1>
				<h3>SCSP3843 Section 1</h3>
			</ion-label>

			<ion-note style="text-align: right;">
				<span>10:00AM</span><br>
				 <span>27 Apr 2020</span>
			</ion-note>
		</ion-item>
	</ion-list>

</ion-content>
